.questao-e-respostas {
    border-bottom: 1px gray solid;
    border-width: thin;
    margin-top: 40px;
}

.div-input-box {
    position: relative;
    margin-left: -370px;
    justify-content: left;
}